<h1><%= @title %></h1>

<p>
   
     <% if signed_in? %>
      Sign in User
     <% else %>
        <%= link_to "Sign in", signin_path %>
     
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
     <% end %>

</p>