<header>
           <table border="0" cellpadding="8" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" bgcolor="#000000">
          <tr>
            <td><a href="home.html"><%= image_tag("tivity.jpg", :alt => "Tivity", :width =>"100", :height => "40") %></td>
            <td bgcolor="#FFFFFF" valign="bottom">
            <p align="left">
            <font face="Arial" color="#999999" style="font-size: 8pt">get things 
            done.&nbsp; <br>
            together.</font>
            </td>
          </tr>
          <tr>
           <nav class="round">
          <ul>
            <li><%= link_to "my account", show_path %></li>
            <li><%= link_to "sign out", signout_path %></li>
          </ul>
        </nav>
        </tr>
        
        
        </table>   
          <table border="0" cellpadding="6" cellspacing="0" style="border-collapse: collapse" width="100%" bgcolor="#333333">
              <tr>
                <td width="11%" align="center">
                <table border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse" width="90%" bordercolor="#CCFF99">
                  <tr>
                    <td width="100%">
                    <p align="center"><b>
                    <font face="Arial" size="2" color="#CCFF99">home</font></b></td>
                  </tr>
                </table>
                </td>
                <td width="11%" align="center">
                <font face="Arial" size="2" color="#FFFFFF">all activities</font></td>
                <td width="11%" align="center">
                <font face="Arial" size="2" color="#FFFFFF">my team</font></td>
                <td width="11%" align="center">&nbsp;</td>
                <td width="11%" align="center">&nbsp;</td>
                <td width="11%" align="center">&nbsp;</td>
                <td width="11%" align="center">&nbsp;</td>
                <td width="11%" align="center">&nbsp;</td>
                <td width="12%" align="center">&nbsp;</td>
              </tr>
            </table>     
   </header>
     